@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --open: 'Open Sans', sans-serif;

    --branco: #fff;
    --rosa: #FF52C1;
    --verde-escuro: #00252E;
    --cinza: #808E9A;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.btn-cadastro {
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--rosa);
    width: 8em;
    padding-block: .5em;
    box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
    color: var(--rosa);
    font-family: var(--open);
}

.apresentacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao-titulo {
    padding: 7rem 2.5em 1.5em 2.5em;
}

.titulo-principal {
    font-size: 1.5rem;
}

.titulo {
    color: var(--verde-escuro);
    font-family: var(--poppins); 
    line-height: 2.25rem;
    font-weight: 700;
    text-align: center;
}

.texto {
    font-family: var(--open);
    color: var(--verde-escuro);
    padding: 0 2.5em 3em 2.5em;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-align: center;
}

.botao {
    background: var(--rosa);
    color: var(--branco);
    font-family: var(--open);
    font-weight: 700;
    font-size: 0.75rem;
    padding: 1em;
    border-radius: 20px;
    border: none;
    width: 25%;
}

.tela-interativa {
    padding-block: 7em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.container-info h1{
    font-size: 3.34494rem;
    font-family: var(--open);
    line-height: 5.01744rem;
    font-weight:700;
}

.texto-secundario {
    color: var(--cinza);
    text-align: center;
    font-size: 0.83625rem;
    font-family: var(--open);
}

.background{
    position: absolute;
    width: 100%;
}

.second {
    margin-top: 15rem;
}

.grow, .conversas, .projects {
    left: 50%;
    transform: translate(-50%);
}

.grow {
    margin-top: 3rem;
}

.conversas {
    margin-top: 10em;
}

.projects {
    margin-top: 12rem;
}

.third {
    position: relative;
    
}

.container-description h1 {
    margin-top: 4em;
    margin-bottom: 2em;
}

.description-item {
    position: relative;
    top: 12em;
    text-align: center;
}

.show {
    margin-block: 30rem 15rem;
    text-align: center;
}

.show-titulo {
    padding-bottom: 1.5rem;
}

.rodape-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content-footer {
    position: relative;
    top: 2rem;
    padding-inline: 1.75rem;
}

.titulo-rodape {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.875rem;
    font-family: var(--open);
    font-size: 1.25rem;
    color: var(--branco);
}

.texto-rodape {
    color: var(--branco);
    font-weight: 600;
    line-height: 1.5rem;
    font-family: var(--open);
    font-size: 0.875rem;
    padding-block: 3rem 2rem;
}

.secao-subs {
    display: flex;
    flex-direction: column;
}

.subscription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#subs {
    padding-block: 1em;
    border-radius: 0.375rem;
}

.btn-subs {
    color: var(--branco);
    font-size: 1rem;
    font-family: var(--open);
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    background: var(--rosa);
    padding: .6rem 1.5rem;
    text-align: center;
    align-self: end;
    border-radius: 0.3125rem;
}

.info-rodape {
    padding-top: 5rem;
}

.logo-branca {
    position: absolute;
}

.contato-items {
    display: flex;
    padding-bottom: 1rem;
}

.contato-items p {
    color: #FFF;
    font-size: 0.875rem;
    font-family: var(--open);
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.social-list {
    display: flex;
    padding-top: 3rem;
}

.background-desktop, .rodape-background-desktop {
    display: none;
}

.smartphone {
    display: block;
}

/*---------------------------------TABLET------------------*/

@media screen and (min-width: 768px) {
    header {
        padding: 3em;
    }

    .btn-cadastro:hover {
        border: 1px solid #FF8ED7;
        color: #FF8ED7;;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .apresentacao p {
        font-size: 1.25rem;
        padding-inline: 20rem;
    }

    .botao {
        font-size: 1.25rem;
        border-radius: 30px;
    }

    .info {
        flex-direction: row;
        justify-content: space-around;
    }

    .container-info h1 {
        font-size: 4rem;
    }


    .container-info p {
        font-size: 1rem;
    }    
    
    .smartphone {
        display: none;
    }

    .background-desktop, .rodape-background-desktop {
        display: block;
        width: 100%;
        position: absolute;
    }

    .projects {
        margin-top: 1rem;
    }

    .secao-subs {
        margin-top: 15rem;
        padding-right: 10rem;
    }

    .info-rodape {
        margin-top: 10rem;
    }
    .subscription {
        flex-direction: row;
        align-items: center;
    }

    #subs {
        padding-inline: 5em;
    }

    .content-footer {
        display: flex;
        flex-direction: row-reverse;
        gap: 20em;
    }

}