@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family');

:root {
    --poppins: 'Poppins', sans-serif;
    --open: 'Open Sans', sans-serif;

    --branco: #fff;
    --rosa: #FF52C1;
    --verde-escuro: #00252E;
    --cinza: #808E9A;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.btn-cadastro {
    background: transparent;
    border-radius: 15px;
    border: 1px solid var(--rosa);
    width: 8em;
    padding-block: .5em;
    box-shadow: 0px 0px 5px 0px rgba(255, 82, 193, 0.22);
    color: var(--rosa);
    font-family: var(--open);
}

.apresentacao {
    text-align: center;
}

.apresentacao-titulo {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 7rem 2.5em 1.5em 2.5em;
}

.titulo {
    color: var(--verde-escuro);
    font-family: var(--poppins); 
}

.texto {
    font-family: var(--open);
    color: var(--verde-escuro);
    padding: 0 2.5em 3em 2.5em;
    font-size: 0.875rem;
}

.botao {
    background: var(--rosa);
    color: var(--branco);
    font-family: var(--open);
    padding: 1em;
    border-radius: 20px;
    border: none;
}